!!!
html
	head
		title The Printlab | Imprime tus fotos directo desde tu iPhone y recíbelas en la puerta de tu casa
		link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/css/flat-ui.css')
		link(rel='stylesheet', href='/public/css/main.css')
	body
		!= yield
