!!!
html
	head
		link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/css/flat-ui.css')
		link(rel='stylesheet', href='/public/css/main.css')
	body
		!= yield
