doctype html
html
	head
		title #{public._data.title}
		meta(name='apple-itunes-app' content='app-id=670160214')
		link(rel='icon' type='image/ico' href='/public/images/favicon.ico')
		link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/css/flat-ui.css')
		link(rel='stylesheet', href='/public/css/main.css')
	body
		!= yield
