// Trigger the modal with a button
a.btn.btn-info.btn-lg(data-toggle='modal', data-target='#myModal') Open Modal
// Modal
#myModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-body
                iframe.superclase(src='https://app-theprintlab.herokuapp.com', width='400px', height='500px')