.navbar.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			a.tpl-logo.navbar-brand(href='/')
		.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') DESCARGAR APP
				li
					a(href='#') PRODUCTOS
				li
					a(href='#') FAQ
