.navbar.navbar-fixed-top.tpl-navbar(role='navigation')
	.container
		.navbar-header
			a.tpl-logo.navbar-brand(href='/')
		.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='https://itunes.apple.com/cl/app/printlab-imprime-fotos-desde/id670160214?mt=8&uo=4') DESCARGAR APP!
				li
					a(href='#') IMPRESIONES
				li
					a(href='#') FAQ
