script(src='/public/js/jquery-1.10.2.min.js')
script(src='/public/bootstrap/js/bootstrap.min.js')
script(src='/public/js/bootstrap-select.js')
//script(src='/public/js/jquery-ui-1.10.3.custom.min.js')
script(src='/public/js/picker.js');
script(src='/public/js/picker.date.js');
script.

  var spinner_is_animating = false;

  $(function() {

    var scrollToAnchor = function( id ) {
      var elem = $("a[name='"+ id +"']");

      if ( typeof( elem.offset() ) === "undefined" ) {
        elem = $("#"+id);
      }

      if ( typeof( elem.offset() ) !== "undefined" ) {
        $('html, body').animate({
          scrollTop: elem.offset().top
        }, 1000 );

      }
    };

    $("a").click(function( event ) {
      if ( $(this).attr("href").match("#") ) {
        event.preventDefault();
        var href = $(this).attr('href').replace('#', '')
        scrollToAnchor( href );
      }
    });

  });

  function spinner(on) {
    var lc = $('#spinner-container')[0];
    if(on) {
      if(spinner_is_animating) {
        return;
      }
      spinner_is_animating = true;
      var prev = document.createElement('div');
      $(prev).addClass('spinner-previewer');
      var lo = document.createElement('div');
      $(lo).addClass('spinner-loading');
      prev.appendChild(lo);
      lc.appendChild(prev);
    } else {
      lc.innerHTML = '';
      spinner_is_animating = false;
    }
  }
