!= partial('_navbar')
.container-fluid

	.swipe.hidden-xs#swipe-desktop
		.swipe-wrap
			.slide
				img(src='/public/images/photo01.jpg')
			.slide
				img(src='/public/images/photo02.jpg')
			.slide
				img(src='/public/images/photo03.jpg')

	.swipe.visible-xs#swipe-mobile
		.swipe-wrap
			.slide
				img(src='/public/images/photo01_xs.jpg')
			.slide
				img(src='/public/images/photo02_xs.jpg')
			.slide
				img(src='/public/images/photo03_xs.jpg')

.container-fluid
	.swipe-counter
		ul
			li.active
			li
			li

.container-fluid.tpl-cont-download
	p
		| IMPRIME FOTOS DIRECTO DESDE TU SMARTPHONE <br>
		span PRUEBA NUESTRA APP, BÃJALA YA!
	a.app-link(href='https://itunes.apple.com/cl/app/printlab-imprime-fotos-desde/id670160214?mt=8&uo=4')
			img(src='./public/images/appstore_badge_gray.svg')
	a(name='print')

.container-fluid.tpl-cont-pri
	.tpl-logo-bg.visible-sm
	p #{main_text}
.container-fluid.tpl-cont-info
	.silver-triangle
	img.perfect(src='./public/images/perfect@2x.png')
	p #{info_text}
.container-fluid.tpl-cont-links
	.tpl-flor-hg.hidden-xs
	.tpl-flor-md.visible-xs
	p #{public._data.punch}
	a(href='https://itunes.apple.com/cl/app/printlab-imprime-fotos-desde/id670160214?mt=8&uo=4')
			.appstore-badge
!= partial('_footer')
!= partial('_scripts')
script.
	$(function(){
		var swipe_pos = $('.swipe-counter > ul > li');
		var swipe_options = function() {
			return {
				startSlide: 0,
				speed: 400,
				auto: 5000,
				continuous: true,
				disableScroll: false,
				stopPropagation: false,
				callback: function(index, elem) {
					for(var i=0; i<swipe_pos.length;i++) {
						$(swipe_pos[i]).removeClass('active');
					}
					$(swipe_pos[index]).addClass('active');
				},
				transitionEnd: function(index, elem) {}
			}
		}

		if($('#swipe-desktop').is(':visible')) {
			window.my_swipe = $('#swipe-desktop').Swipe(swipe_options()).data('Swipe');
		} else {
			window.my_swipe = $('#swipe-mobile').Swipe(swipe_options()).data('Swipe');
		}


		swipe_pos.on('click', function(event){
			event.preventDefault();
			var index = swipe_pos.index(event.currentTarget);
			window.my_swipe.slide(index);
		});

	});
