!= partial('_navbar')
.container-fluid

	.swipe.hidden-xs#swipe-desktop
		.swipe-wrap
			.slide
				img(src='/public/images/photo01.jpg')
			.slide
				img(src='/public/images/photo02.jpg')
			.slide
				img(src='/public/images/photo03.jpg')

	.swipe.visible-xs#swipe-mobile
		.swipe-wrap
			.slide
				img(src='/public/images/photo01_xs.jpg')
			.slide
				img(src='/public/images/photo02_xs.jpg')
			.slide
				img(src='/public/images/photo03_xs.jpg')

.container-fluid
	.swipe-counter
		ul
			li.active
			li
			li

.container-fluid.tpl-cont-download
	p
		| IMPRIME FOTOS DIRECTO DESDE TU SMARTPHONE <br>
		span PRUEBA NUESTRA APP, BÃJALA YA!
	a.app-link(href='https://itunes.apple.com/cl/app/printlab-imprime-fotos-desde/id670160214?mt=8&uo=4')
			img(src='./public/images/appstore_badge_gray.svg')
	a(name='info')

.container-fluid.tpl-cont-pri
	.tpl-logo-bg.visible-sm
	p #{main_text}
.container-fluid.tpl-cont-info
	.silver-triangle
	img.perfect(src='./public/images/perfect@2x.png')
	p #{info_text}
.container-fluid.tpl-cont-links
	.tpl-flor-hg.hidden-xs
	.tpl-flor-md.visible-xs
	p #{public._data.punch}
	a(href='https://itunes.apple.com/cl/app/printlab-imprime-fotos-desde/id670160214?mt=8&uo=4')
			.appstore-badge
!= partial('_footer')
//- script(src='/public/js/jquery-1.12.0.min.js')
!= partial('_scripts')
script.
	
	var waitForFinalEvent=function(){var b={};return function(c,d,a){a||(a="I am a banana!");b[a]&&clearTimeout(b[a]);b[a]=setTimeout(c,d)}}();
	var fullDateString = new Date();
	
	function getSwipeID() {
		var a = '#swipe-desktop';
		var b = '#swipe-mobile';
		if ($(a).is(':visible')) {
			return a;
		}
		if ($(b).is(':visible')) {
			return b;
		}
	}
	
	function initSwipe(elID) {
		
		if(window.my_swipe) {
			if(window.my_swipe.currentElID === elID) {
				return;
			} else {
				window.my_swipe.stop();
				window.my_swipe = null;
				console.log('another instance has been stopeed');
			}
		}
	
		var swipe_pos = $('.swipe-counter > ul > li');
		var swipe_options = function() {
			return {
				startSlide: 0,
				speed: 400,
				auto: 5000,
				continuous: true,
				disableScroll: false,
				stopPropagation: false,
				callback: function(index, elem) {
					for(var i=0; i<swipe_pos.length;i++) {
						$(swipe_pos[i]).removeClass('active');
					}
					$(swipe_pos[index]).addClass('active');
				},
				transitionEnd: function(index, elem) {}
			}
		}
		
		window.my_swipe = $(elID).Swipe(swipe_options()).data('Swipe');
		window.my_swipe.currentElID = elID;
		
		swipe_pos.on('click', function(event){
			event.preventDefault();
			var index = swipe_pos.index(event.currentTarget);
			window.my_swipe.slide(index);
		});
	}
	
	$(window).resize(function () {
		waitForFinalEvent(function(){
			var swipeID = getSwipeID();
			initSwipe(swipeID);
		}, 300, fullDateString.getTime())
	});
	
	$(function(){
		var swipeID = getSwipeID();
		initSwipe(swipeID);
	});
