!= partial('_navbar')
.container.products
  
  .row.row-centered
    .col-md-5.col-centered
      .prod_photo_01
        .prod_info_bg
        .prod_info_tagline
          span 15 x 15 PARA TUS INSTAGRAMS
        .prod_info_title
          span CUADRADAS
        
    .col-md-5.col-centered
        .prod_photo_02
          .prod_info_bg
          .prod_info_tagline
            span 16 x 15 PARA TODO EL RESTO
          .prod_info_title
            span RECTANGULARES
    

!= partial('_footer')
!= partial('_scripts')
