@import 'retina-1.1.0.less';

// Colors
@pl-midnightblue: #2a2d34;
@pl-wetasphalt: #34495e;
@pl-asbestos: #5b6b78;
@pl-slime: #b6ce32;
@pl-lime: #b6ce32;
@pl-peterrever: #5691bb;
@pl-silver: #dfe0db;
@pl-concrete: #95a5a6;
@alizarin: #e74c3c;
@clouds: #ecf0f1;

@grid-float-breakpoint: 1200px;

body {
  padding-top: 70px;
}

// Images
.tpl-flor-hg {
  .at2x('../images/tpl_flor.gif', 400px, 400px);
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.tpl-flor-md {
  .at2x('../images/tpl_flor.gif', 250px, 250px);
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.tpl-flor-sm {
  .at2x('../images/tpl_flor_sm.gif', 55px, 55px);
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.tpl-logo {
  .at2x('../images/tpl_logo.png', 214px, 20px);
  width: 214px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin: 0 auto;
}

.tpl-logo-inverse {
  .at2x('../images/tpl_logo_inverse.png', 214px, 20px);
  width: 214px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin: 0 auto;
}

.tpl-logo-bg {
  .at2x('../images/tpl_logo_bg.gif', 768px, 132px);
  width: 768px;
  height: 132px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.tpl-rombo {
  width: 325px;
  height: 325px;
  .at2x('../images/tpl_rombo.png', 325px, 325px);
}

.silver-triangle {
  .at2x('../images/silver_triangle.png', 17px, 15px);
  width: 17px;
  height: 15px;
  margin: 0 auto;
}

// Navbar
.navbar-inverse {
  background-color: @pl-midnightblue;
  color: @pl-silver;
}

.navbar .nav > li > a {
  font-weight: 300;
  font-size: 1.4em;
}

.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: @pl-lime !important;
}

.navbar-toggle {
  padding: 0px 15px !important;
}

.navbar-inverse .navbar-toggle:hover::before, .navbar-inverse .navbar-toggle:focus::before {
  color: @pl-lime !important;
}


// Swipe styles
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

// Swipe slides
.slide > img {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.swipe-counter {
  position: absolute;
  margin-top: -50px;
  margin-left: -30px;
  width: 100%;
  height: 50px;
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: fade(@pl-slime, 45%);
      border-radius: 100%;
      margin: 5px;
      cursor: pointer;
      &.active {
        background-color: @pl-slime;
      }
    }
  }
}




// Text Styles
.txt-main {
  color: @pl-wetasphalt;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
}

.txt-info {
  color: @pl-silver;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

// Under carousel
.tpl-cont-download {
    background-color: @pl-lime;
    margin-top: 16px;
    padding: 20px;
    text-align: center;
}

.tpl-cont-download > p {
  .txt-main;
  font-weight: 400;
}

.tpl-cont-download > p > span {
  .txt-main;
  font-weight: 300;
  font-size: 1.0em;
}

.app-link > img {
  height: 3em;
  margin: 0 auto;
}

.tpl-cont-pri {
  background-color: @pl-silver;
  padding: 20px 40px;
}

.tpl-cont-pri > p {
  .txt-main
}

// Prints info
.tpl-cont-info {
  background-color: @pl-concrete;
  text-align: center;
  padding: 20px 40px;
  padding-top: 0px;
}

.perfect {
  height: 1.5em;
  margin-top: 10px;
}

.tpl-cont-info > p {
  .txt-info;
  margin-top: 10px;
}

// PreFooter
.tpl-cont-links > p {
  color: @pl-wetasphalt;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
}


// Footer
.tpl-cont-footer{
  background-color: @pl-midnightblue;
  padding-top: 30px;
}

.tpl-cont-footer > p {
  color: @pl-silver;
  font-weight: 300;
  font-size: 1.0em;
}

// Fixes
select.input-hg {
  line-height: inherit;
}

select option[default] {
  color: #999;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:400px;
}

/* PRODUCTS */
.products {
  margin-top: 15px;
  margin-bottom: 15px;

}
.prod_photo {
  background-repeat: no-repeat;
}

.prod_photo_01 {
  .prod_photo;
  .at2x('../images/prod_01.jpg', 100%, 100%);
}

.prod_photo_02 {
  .prod_photo;
  .at2x('../images/prod_02.jpg', 100%, 100%);
}

.prod_info_base {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.prod_info_bg {
  .prod_info_base;
  background-color: @pl-lime;
  opacity: 0.0;
}

.prod_info_bg:hover {
  opacity: 0.4;
}


.prod_info_title {
  position: absolute;
  background-color: @clouds;
  left: 30px;
  top: 10px;
  padding: 5px 15px;
  font-size: 1.2em;
}

.prod_info_tagline {
  position: absolute;
  width: 400px;
  bottom: 5px;
  font-size: 1.3em;
  text-align: center;
}

// Media Queries
@media only screen and (max-width: 700px) {


}

@media only screen and (max-width: 479px) {



}
// @media (max-width: 768px) {
//   .tpl-navbar {
//     background-color: white;
//   }
// }
//
// @media (max-width: 992px) {
//   body {
//     padding-top: 80px;
//   }
//   .tpl-navbar {
//     background-color: white;
//     height: 80px;
//     padding-top: 12px;
//   }
//
//   .navbar .nav > li > a {
//     font-weight: 300;
//     font-size: 2.5em;
//   }
//
//   .app-link > img {
//     height: 4em;
//   }
//
// }

// Spinner

	.spinner-loading {
		border-radius:10px;
		height:16px;
		width:16px;
		background:#ebedee;
		display:inline-block;
		position:absolute;
		-webkit-animation: corner 1s ease infinite;
		-moz-animation: corner 1s ease infinite;
		-ms-animation: corner 1s ease infinite;
		-o-animation: corner 1s ease infinite;
		animation: corner 1s ease infinite;
		top: 50%;
		left:50%;
		margin-left:-8px;
		margin-top:-8px;
	}

	.spinner-previewer {
		padding: 0;
		text-align: center;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: 0;
		overflow: scroll;
		background: rgba(18, 29, 41, 0.9);
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		cursor: pointer;
		text-align:center;
	}

	@-webkit-keyframes corner {

		0% {background: #e74c3c;-webkit-transform: rotate(0deg);border-radius:10px;}
		50% {background: #ebedee;-webkit-transform: rotate(180deg);border-radius:0;}
		100% {background: #e74c3c;-webkit-transform: rotate(360deg);border-radius:10px;}
	}
	@-moz-keyframes corner {

		0% {background: #e74c3c;-moz-transform: rotate(0deg);border-radius:10px;}
		50% {background: #ebedee;-moz-transform: rotate(180deg);border-radius:0;}
		100% {background: #e74c3c;-moz-transform: rotate(360deg);border-radius:10px;}
	}
	@-ms-keyframes corner {

		0% {background: #e74c3c;-ms-transform: rotate(0deg);border-radius:10px;}
		50% {background: #ebedee;-ms-transform: rotate(180deg);border-radius:0;}
		100% {background: #e74c3c;-ms-transform: rotate(360deg);border-radius:10px;}
	}
	@-o-keyframes corner {

		0% {background: #e74c3c;-o-transform: rotate(0deg);border-radius:10px;}
		50% {background: #ebedee;-o-transform: rotate(180deg);border-radius:0;}
		100% {background: #e74c3c;-o-transform: rotate(360deg);border-radius:10px;}
	}
	@keyframes corner {

		0% {background: #e74c3c;transform: rotate(0deg);border-radius:10px;}
		50% {background: #ebedee;transform: rotate(180deg);border-radius:0;}
		100% {background: #e74c3c;transform: rotate(360deg);border-radius:10px;}
	}
