@import 'retina-1.1.0.less';

// Colors
@pl-midnightblue: #2a2d34;
@pl-wetasphalt: #34495e;
@pl-asbestos: #5b6b78;
@pl-slime: #b6ce32;
@pl-lime: #b6ce32;
@pl-peterrever: #5691bb;
@pl-silver: #dfe0db;
@pl-concrete: #95a5a6;
@alizarin: #e74c3c;

@grid-float-breakpoint: 1200px;

body {
  padding-top: 70px;
}

// Images
.tpl-flor {
  .at2x('../images/tpl_flor.gif', 400px, 400px);
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.tpl-flor-sm {
  .at2x('../images/tpl_flor_sm.gif', 55px, 55px);
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.tpl-logo {
  .at2x('../images/tpl_logo.png', 214px, 20px);
  width: 214px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin: 0 auto;
}

.tpl-logo-inverse {
  .at2x('../images/tpl_logo_inverse.png', 214px, 20px);
  width: 214px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin: 0 auto;
}

.tpl-logo-bg {
  .at2x('../images/tpl_logo_bg.gif', 768px, 132px);
  width: 768px;
  height: 132px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.tpl-rombo {
  width: 325px;
  height: 325px;
  .at2x('../images/tpl_rombo.png', 325px, 325px);
}

.silver-triangle {
  .at2x('../images/silver_triangle.png', 17px, 15px);
  width: 17px;
  height: 15px;
  margin: 0 auto;
}

// Navbar
.tpl-navbar {
  background-color: rgba(255,255,255,0.8);
  height: 70px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.tpl-navbar-inverse {
  .tpl-navbar;
  height: 60px;
  background-color: @pl-midnightblue;
  color: @pl-silver;
}

.navbar .nav > li > a {
  font-weight: 300;
  font-size: 1.4em;
}

.tpl-nav-base {
  margin-right: 6px;
}

.tpl-pri {
  .tpl-nav-base
}

.tpl-pri > a {
  color: @pl-silver;
  background-color: @pl-wetasphalt;
}

.tpl-pri > a:hover,
.tpl-pri > a:focus {
  color: @pl-lime !important;
  background-color: @pl-wetasphalt !important;
}

.tpl-sec {
  .tpl-nav-base;
}

.tpl-sec > a {
  color: @pl-wetasphalt;
  background-color: @pl-silver;
}

.tpl-sec > a:hover,
.tpl-sec > a:focus {
  color: @pl-lime !important;
  background-color: @pl-silver !important;
}


// Carousel slides lg + md + sm
.item-1 {
  .at2x('../images/photo01.jpg', cover, cover);
  background-size: cover;
  height: 500px
}

.item-2 {
  .at2x('../images/photo02.jpg', cover, cover);
  background-size: cover;
  height: 500px;
}

.item-3 {
  .at2x('../images/photo03.jpg', cover, cover);
  background-size: cover;
  height: 500px;
}

// Carousel slides xs
.item-1-xs {
  .at2x('../images/photo01_xs.jpg', cover, cover);
  background-size: cover;
  height: 700px;
}

.item-2-xs {
  .at2x('../images/photo02_xs.jpg', cover, cover);
  background-size: cover;
  height: 700px;
}

.item-3-xs {
  .at2x('../images/photo03_xs.jpg', cover, cover);
  background-size: cover;
  height: 700px;
}

// Text Styles
.txt-main {
  color: @pl-wetasphalt;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
}

.txt-info {
  color: @pl-silver;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

// Under carousel
.tpl-cont-download {
    background-color: @pl-lime;
    margin-top: 16px;
    padding: 40px;
    text-align: center;
}

.tpl-cont-download > p {
  .txt-main;
  font-weight: 400;
}

.tpl-cont-download > p > span {
  .txt-main;
  font-weight: 300;
  font-size: 1.0em;
}

.app-link > img {
  height: 3em;
  margin: 0 auto;
}

.tpl-cont-pri {
  background-color: @pl-silver;
  padding: 40px 80px;
}

.tpl-cont-pri > p {
  .txt-main
}

// Prints info
.tpl-cont-info {
  background-color: @pl-concrete;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
}

.perfect {
  height: 2.0em;
  margin: 20px 0px;
}

.tpl-cont-info > p {
  .txt-info
}

// PreFooter
.tpl-cont-links > p {
  color: @pl-wetasphalt;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
}


// Footer
.tpl-cont-footer{
  background-color: @pl-midnightblue;
  padding-top: 30px;
}

.tpl-cont-footer > p {
  color: @pl-silver;
  font-weight: 300;
  font-size: 1.0em;
}

// Fixes
select.input-hg {
  line-height: inherit;
}

select option[default] {
  color: #999;
}

// Media Queries
@media (max-width: 768px) {
  .tpl-navbar {
    background-color: white;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 80px;
  }
  .tpl-navbar {
    background-color: white;
    height: 80px;
    padding-top: 12px;
  }

  .navbar .nav > li > a {
    font-weight: 300;
    font-size: 2.5em;
  }

  .app-link > img {
    height: 4em;
  }

}
